<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col" id="img-column">
      <img src="assets/img/profile_pic.jpeg" />
      <div class="title my-4 text-uppercase">Haejoon Choi</div>
    </div>

    <div class="row my-3 justify-content-center">
      <div class="col-2">
        <button mat-icon-button>
          <i
            class="bi bi-file-earmark-person fs-3"
            role="img"
            aria-label="Resume"
          ></i>
        </button>
      </div>
      <div class="col-2">
        <button mat-icon-button>
          <i class="bi bi-facebook fs-3" role="img" aria-label="Facebook"></i>
        </button>
      </div>

      <div class="col-2">
        <button mat-icon-button>
          <i class="bi bi-instagram fs-3" role="img" aria-label="Instagram"></i>
        </button>
      </div>
      <div class="col-2">
        <button mat-icon-button>
          <i class="bi bi-linkedin fs-3" role="img" aria-label="GitHub"></i>
        </button>
      </div>
      <div class="col-2">
        <button mat-icon-button>
          <i class="bi bi-envelope fs-3" role="img" aria-label="Email"></i>
        </button>
      </div>
    </div>
  </div>
  <hr />
  <div class="row my-3 justify-content-center">
    <div class="col-2">
      <button mat-button>Home</button>
    </div>
    <div class="col-2">
      <button mat-button>Projects</button>
    </div>
    <div class="col-2">
      <button mat-button>Insta</button>
    </div>
  </div>
  <hr />
  <ul>
    Hi I'm Haejoon Choi, Software Developer. I studied Mechanical Engineering in
    South Korea 🇰🇷 and now I am living in Vancouver 🇨🇦.
  </ul>

  <hr />
</div>
